.form {
  display: flex;
  flex-direction: column;
}

.container {
  padding: 16px;
}

.input {
  border-radius: 6px;
  padding: 12px 16px;
  height: 48px;
  border: none;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.button {
  border: none;
  padding: 12px 16px;
  border-radius: 6px;
  background-color: var(--primary-color);
  color: var(--primary-text);
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
}

.helpertext {
  color: var(--secondary-text);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.helpertext a {
  text-decoration: none;
  color: var(--primary-text);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 70%;
    padding: 0px 48px;
  }

  .form {
    flex-direction: row;
  }

  .button {
    width: 139px;
  }

  .input {
    flex: 1;
    margin-right: 16px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    max-width: 65%;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    padding: 0px 16px;
  }
}
