.main_text {
  font-size: 36px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: -0.025em;
  text-align: left;
  color: var(--primary-text);
  margin-bottom: 16px;
}

.container {
  padding: 16px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 50%;
    padding: 0px 48px;
    margin-bottom: 16px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    padding: 0px 16px;
  }
}

.main_text_remark {
  color: var(--indigo);
}

.supporting_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--secondary-text);
}
