.container {
  display: flex;
  background-color: black;
  border-radius: 14px;
  padding: 4px 8px 4px 4px;
  align-items: center;
  width: fit-content;
  margin-bottom: 16px;
}

.link {
  border: none;
  text-decoration: none;
  color: var(--primary-text);
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.025em;
  text-align: left;
  margin-right: 16;
}

.badge {
  margin-bottom: 0;
  border-radius: 10px;
  padding: 2px 12px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.badge h6 {
  text-transform: uppercase;
  color: var(--primary-text);
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.025em;
  text-align: left;
}
