.header {
  display: flex;
  height: 40px;
  margin-top: 16px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
  width: 100%;
}

.nav {
  display: none;
}

.menu_button {
  border: none;
  background-color: transparent;
}

.list {
  display: flex;
  color: var(--primary-text);
}

.list li {
  border-radius: 6px;
  margin-right: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.actions {
  display: none;
}

.login_button {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  color: var(--primary-text);
  border: none;
  background-color: transparent;
  margin-right: 16px;
}

.free_trial_button {
  border: none;
  border-radius: 6px;
  background-color: var(--gray_600);
  height: 42px;
  width: 121px;
  color: var(--primary-text);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
}

@media only screen and (min-width: 768px) {
  .nav {
    display: block;
  }

  .logo_container {
    margin-right: 16px;
  }

  .actions {
    display: flex;
  }

  .header {
    height: 42px;
    padding: 0px 24px;
  }

  .menu_button {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .header {
    height: 66px;
  }
}

@media only screen and (min-width: 1280px) {
  .header {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
  }
}
