.container {
  height: calc(100vh - 40px);
  background-image: url("./assets/Illustration.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

@media only screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    background-position: right;
    background-image: url("./assets/Illustration_tablet.png");
    background-size: unset;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    background-image: url("./assets/Illustration_laptop.png");
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    background-image: url("./assets/Illustration_desktop.png");
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
}
