:root {
  --background-color: #111827;
  --primary-color: #6366f1;
  --primary-color-light: #4f46e5;
  --primary-text: white;
  --secondary-text: #d1d5db;
  --secondary-text_light: #374151;
  --helper-text-light: #6b7280;

  --indigo: #818cf8;
  --gray_600: #4b5563;
  --gray_900: #111827;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@font-face {
  font-family: "InterRegular";
  src: url("./fonts/Inter-Regular.ttf") format("ttf");
}

body {
  font-family: "InterRegular", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
