.menu {
  padding: 8px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.card {
  background-color: white;
  border-radius: 8px;
  height: 392px;
}

.card_header {
  display: flex;
  height: 56px;
  padding: 16px 20px 0px 20px;
  justify-content: space-between;
}

.card_content {
  padding: 20px 0px 24px 0px;
}

.card_actions {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  align-items: center;
}

.list {
  padding: 0px 8px;
}

.list li {
  height: 40px;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--secondary-text_light);
}

.open {
  transform: translateY(0);
  transition: transform 0.5s ease-out;
}

.button {
  border: none;
  border-radius: 6px;
  width: 100%;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 500;
  background-color: var(--primary-color-light);
  color: var(--primary-text);
  line-height: 24px;
  letter-spacing: 0em;
  margin-bottom: 20px;
}

.helper_text {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  color: var(--helper-text-light);
  width: auto;
}

.helper_text a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  color: var(--gray_900);
}
